@use "./base.scss";

// put your custom CSS here!
.page-title {
	font-family: var(--titleFont);
	font-weight: bold !important;
}

.article-title{
	font-weight: lighter;
}

.explorer > .title-button > h2 {
	font-weight: light;
}

body {
	// background-image: url("/static/bg.png");
}